.imgContainer {
    display: flex;
    flex-direction: column;
}

.profImgUploaded {
    flex: 1 1 100%;
    margin: 20px;
    flex-basis: 100%;
    min-width: 0;
    overflow: hidden;

}



/* .profImgUploaded > img {
    width: 100%;
} */

#file-upload-button {
    background-color: #646a73;
}

input[type="file"] {
    display: none;
}


@media (min-width: 700px) {
    .imgContainer {
        flex-direction: row;
    }
}